<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fairytale"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme= "@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".MainActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity 
            android:name=".MainDescribeActivity"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".MainOptionPopup"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape">
        </activity>
        <activity 
            android:name=".StoryListActivity"
            android:screenOrientation="landscape">
            
        </activity>
        <activity 
            android:name=".AdditionalStoryListActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity 
            android:name=".StoryActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity 
            android:name=".AudioSensorGameActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".GamePuzzleActivity"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
